<h1>Cheatsheets</h1>
<ul>
  <li><a href="{{ site.baseurl}}2000/12/python-datapreprocessing-cheatsheet.html">Python data preprocessing</a></li>
  <li><a href="{{ site.baseurl}}2000/12/linux-cheatsheet.html">Linux</a></li>
  <li><a href="{{ site.baseurl}}2000/12/neo4j-cheatsheet.html">neo4j</a></li>
  <li><a href="{{ site.baseurl}}2000/12/computer-network-notes.html">计算机网络知识笔记</a></li>
  <li><a href="{{ site.baseurl}}2000/12/markdown-cheatsheet.html">markdown cheatsheet</a></li>
  <!-- <li><a href="#">Three</a></li> -->
  <!-- <li><a href="#">Four</a></li> -->
</ul>